@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
}

.home_detail img {
  overflow: visible;
}

#Home__button::before {
  content: "";
  @apply h-[6rem] w-[6rem] border-2 border-green-500 absolute flex items-center justify-center rounded-full;
  box-shadow: 0px 0px 8px 1px rgb(34, 197, 94);
}
